telnet_port disabled
tcl_port disabled

# TODO(hdhoang): find a way to differentiate between key chip and LED
# chip
source [find interface/stlink-v2-1.cfg]
source [find board/st_nucleo_l1.cfg]
reset_config none separate
#reset_config srst_only srst_nogate connect_assert_srst
